<div class="container">
    <div class="card organic" *ngFor="let i of products">
        <img [src]="i.url" alt="" class="photo">
        <div class="info">
            <span class="name">{{i.name}}</span>
            <span class="price">38 | kg</span>
        </div>
    </div>
    <div class="card organic" *ngFor="let i of products">
        <img [src]="i.url" alt="" class="photo">
        <div class="info">
            <span class="name">{{i.name}}</span>
            <span class="price">38 | kg</span>
        </div>
    </div>
</div>